body {
  padding: 0;
  margin: 0;
  background: #2D384A;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #2D384A 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #2D384A 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #2D384A 100%);
}

/** Header styles **/
.header {
  background-image: url(https://lh3.googleusercontent.com/C9rl2uNVIeQ5lTlN-K9XtdAnz4WuW39ZlYmuRB7cSF4P0Mm07pRrpRkblljfu7XDJLmH6X6GikkeqHmyyGmPINGmRgFkPLgpf99qtmqhNUpHCFRGd3GVIS6aYAtyVuh9sZEnjDp4F0DArF9nc9B5z-5Dklk5Wp8om24qCWjuKZJL9AyV8qFT1Y1CBSwTwrBuffzVmRk_YXIvL8GCx398kZ3pLl9S-N_y5UHpca5L5TavJQ0uVOZhQ4wHFXc9o9DBJYl-Hr2SammC43HdA7D1EwrRdIgA9cumwt5LttHuBw7Z88Ph8YQlXXuUE9VSeCPJpB3ufVpHInEvXrLgzjf8Qbipi2W3XVmsi1SYsHFb2K9u1YnniZr52oTCHU4RK3DZZ2XBG2k4HDW554YwfM_UeVe3tTS8anPaAJ2wE7ntJU-FSEYDuV2sEqYyg6RALKHrba_ATXQ6KF2cYjUxyMpzzqrW_C0CgsvQl2SXkdSjSSHh-swBWwQACFFN3guJrWGWtFFf6NZxqgq3lBd8fmpYI7NA6RL8f_HfHq7jHZpB7WKXs_wRY9QUrBveFal9kYuHEnDqEvMc1Nzzi-KsZIb2Jl8xvROHiHUDXD_k69M=s637-no);
  height: 400px;
  background-position: center center;
}

.roasting {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #2D6573;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: center;
}

.roasting p {
  color: white;
  text-align: center;
  line-height: 24px;
  font-family: 'Bitter', sans-pro;
  font-size: 16px;
  font-weight: 400;
}

.spectrum div {
  font: inherit;
  padding: 0 20px;
  color: #white;
  overflow: auto;
  opacity: 0.9;
}

.spectrum p {
  color: white;
  text-align: left;
}

/* Roast types */
.green {
  background-color:#E97778;
}

.light {
  background-color: #89C7B6;
}

.city {
  background-color: #FFD57E;
}

.vienna {
  background-color: #AD84C7;
}

.italian {
  background-color: #7998C9
}

/* Typography */
h1 {
  color: black;
  font-family: 'Bitter', sans-pro;
  font-size: 35px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 1%;
}

h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

h3 {
  color: orange;
  font-family: 'Bitter', sans-pro;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

h4 {
  font-family: 'Bitter', sans-pro;
  font-size: 28px;
  font-weight: 700;
  line-height: .2em;
}

h5 {
  font-family: 'Bitter', sans-pro;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/* Page elements */
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}

p {
  color: orange;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}
footer 
p {
  text-align: center;
  font-size: small;
}
}
